*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header{
    display: flex;
    justify-content: space-between;
    background-color: green;
    align-items: center;
    position: sticky;
}
#contenido{
    background-image: url(./images/fondo_pagina.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu > a{
    color: #ffffff;
    text-decoration: none;
    padding: 35px 0 35px 0;
    width: 50%;
    text-align: center;
}

.menu > a:hover{
    background-color: greenyellow;
}
.logo{
    display: flex;
    align-items: center;
    color: #ffffff;
    padding-left: 35px;
    
}
#historial{
    background-color: greenyellow;
    text-align: center;
    width: 50%;
    align-items: center;
    padding: 10px 30px 10px 30px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 25px;
}
#historial > p {
    color: green;
}
#historial > h5{
    color: green;
}
#historial > h4{
    color: green;
}
#historial > img {
    height: 200px;
    width: 200px;
}

#input{
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    
}
@media only screen and (min-width: 1080px){
    #contenido > div{
        width: 50%;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1080px){
    #contenido > div{
        width: 80%;
    }
}

@media only screen and (max-width: 700px){
    #contenido > div{
        width: 95%;
    }

    #header {
        flex-direction: column;
        justify-content: center;
    }

    .logo {
        padding-left: 0px;
    }
}