*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header{
    display: flex;
    justify-content: space-between;
    background-color: green;
    align-items: center;

}
#contenido{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url(./imagenes/fondo\ pagina.jpg);
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    height: 100vh;
}

.menu{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu > a{
    color: #ffffff;
    text-decoration: none;
    padding: 35px 0 35px 0;
    width: 50%;
    text-align: center;
}
a{
    padding: 38px 0 38px 0;

    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
}

.menu > a:hover{
    background-color: greenyellow;
}

.logo{
    display: flex;
    align-items: center;
    color: #ffffff;
    padding-left: 55px;
}

#crud{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: greenyellow;
    border-radius: 25px;
    height: 400px;
}

#crud > a{
    text-decoration: none;
    text-align: center;
    border-radius: 25px;
    width: 300px;
}

#imagen > img {
    height: 200px;
    width: 200px;
}
#imagen{
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 1080px){
    #crud{
        width: 30%;
    }

    #contenido {
        height: 86vh;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1080px){
    #crud{
        width: 44%;
    }

    #contenido {
        height: 130vh;
    }
}

@media only screen and (max-width: 700px){
    #crud{
        width: 95%;
    }

    #contenido {
        height: 300vh;
    }

    #header {
        flex-direction: column;
        justify-content: center;
    }

    .logo {
        padding-left: 0px;
    }
}



