*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header{
    display: flex;
    justify-content: space-between;
    background-color: green;
    align-items: center;

}
#contenido{
    background-image: url(./images/fondo_pagina.jpg);
    background-size: cover;
    height: 100vh;
}

.menu{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu > a{
    color: #ffffff;
    text-decoration: none;
    padding: 35px 0 35px 0;
    width: 50%;
    text-align: center;
}
a{
    padding: 38px 0 38px 0;
    border-top: 5px transparent solid;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
}

.menu > a:hover{
    background-color: greenyellow;
}
.logo{
    display: flex;
    align-items: center;
    color: #ffffff;
    padding-left: 55px;
    
}


#input{
    width: 50%;
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    align-items: center;
    
}
#form1{
    padding-top: 100px;
    padding-bottom: 200px;
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 700px){
    #contenido > div{
        width: 100%;
    }

    #header {
        flex-direction: column;
        justify-content: center;
    }

    .logo {
        padding-left: 0px;
    }
}
@media only screen and (max-width: 700px){
    #input{
        width: 95%;
    }
}

.error {
    border: 2px red solid !important;
    background-color: #ff7474 !important;
}

.ok {
    border: 2px green solid !important;
    background-color: #74ffb5 !important;
}